.fotoFondo {
    background-image: url(../scl-2018-01-foodmap/img/herson-rodriguez-96102-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0%;
}
