body{
    font-family: 'Telex', sans-serif;
    
}
.buscador {
    width: 500px;
    height: 45px;
    margin-top: 30px;
    padding-left: 10px;
    font-size: 13px;
}
#buscador{
    background-image: url(../scl-2018-01-foodmap/img/cel-lisboa-60314-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    
}
h1{
    color: antiquewhite;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: red;
    text-align: center;
}
#boton{
    background-color: red;
}
.map {
    height: 300px;
    position: relative;
    margin-top: 30px;
}